@use "mixins" as mix;
@use "variables" as var;
@use "colors" as col;

#filter {
  &-background {
    position: absolute;
    display: none;
    height: 100vh;
    background-color: rgba(72, 72, 72, 0.4);
    width: 100vw;
    left: 20vw;
    top: 0;
    z-index: 200;
  }
  &-container {
    position: fixed;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    width: 60vw;
    z-index: 200;
    left: 0;
    top: 0;

    @include mix.desktop {
      width: 20vw;
    }

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  &-btn {
    @include mix.main-button;
    width: 4em;
    height: 3em;

    &:hover {
      background-color: col.$color-grey-very-light;
      cursor: pointer;
    }
  }
}

.filter {
  &-category {
    &__container {
      display: flex;
      flex-direction: column;
      width: 80%;
      justify-content: center;
      align-items: flex-start;
    }

    &__selection {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &-checkbox {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 1.5em;
    width: 1.5em;
  }
  &-bar {
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-end;
    right: 2em;
    align-items: center;
    position: relative;
    margin-top: 2.5em;
    gap: 1em;
  }
}

input[type="checkbox"] {
  accent-color: col.$color-accent-purple;
}

#clear-filter {
  @include mix.main-button;
  height: 3em;

  &:hover {
    background-color: col.$color-grey-very-light;
    cursor: pointer;
  }
}

.menu-btn {
  @include mix.main-button;
}
