@use "mixins" as mix;
@use "variables" as var;
@use "colors" as col;

#user-cart__container {
  width: 100vw;
  height: auto;
  top: (var.$header-height--mobile)-10px;
  color: col.$color-text-light;
  background-color: col.$color-grey-light;

  @include mix.desktop {
    width: 620px;
    height: auto;
    margin-right: 1vw;
    top: 8.5vh;
  }
}

.empty-cart-text {
  padding-left: 1em;
}

.user-cart {
  &__invisible {
    display: none;
  }
  &__visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    @include mix.desktop {
      align-items: flex-end;
    }
  }
  &-item {
    &__container {
      &:first-child {
      }
      width: 100vw;
      height: 50px;
      padding-top: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mix.desktop {
        width: 60%;
        padding-top: 0;
        width: 95%;
        margin-top: -0.5%;
      }
    }
    &__image {
      width: auto;
      height: 75%;

      @include mix.desktop {
        height: 55%;
      }
    }
    &__info-price {
      width: 20.5%;
      display: flex;
      justify-content: center;
      margin-left: 5%;
      margin-right: 5%;
    }
    &__remove-btn {
      width: 20%;
      height: 100%;
      background-color: col.$color-grey-very-dark;
      border: none;
      border-radius: 5px;
      bottom: 0.2em;
      display: flex;
      justify-content: center;
      @include mix.main-button;
      @include mix.desktop {
        width: 15%;
        bottom: 0;
      }
      &:hover {
        background-color: col.$color-grey-light;
        cursor: pointer;
      }
    }
  }
}
.img-container {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
  margin-left: 1em;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;

  @include mix.desktop {
  }
  .user-cart-item__info-name {
    width: 41%;
  }
}
.product-change-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 35%;
  margin-right: 1em;

  @include mix.desktop {
    width: 30%;
  }

  #productQuantityCartWidget {
    width: 20%;
    height: 100%;
    font-size: large;
  }
}

.checkout {
  &-btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 0.5em;
    color: col.$color-text-light;

    @include mix.desktop {
      border: none;
      padding-left: 2em;
      padding-right: 2em;
      left: 4.5em;
    }

    &:hover {
      mix-blend-mode: color-burn;
      color: rgb(200, 200, 200);
    }
  }

  &-total {
    font-weight: 600;
  }
}
